.wbdv-sticky-nav-bar {
    background-color: lightblue;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container {
    padding-top: 58px;
}

.wbdv-line-height{
    line-height:30px;
}

.wbdv-margin{
    margin: 50px;
}

.color-red {
    color:red;
}
.color-blue {
    color:blue;
}
