.wbdv-sticky-nav-bar {
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: lightblue;
}

.container {
    padding-top: 58px;
}

.wbdv-line-height{
    line-height:50px;
}

.wbdv-margin{
    margin: 50px;
}

.wbdv-margin-top{
    margin-top: 50px;
}

.color-red {
    color:red;
}
.color-blue {
    color:blue;
}
.background-color-yellow {
    background-color:yellow;
}

.color-white {
    color:white;
}
